@model Viho.web.DataDB.TbTenant

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TbTenant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TIc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TIc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TAddress)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TUploadIc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TUploadIc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TEmerContact)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TEmerContact)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TEntrydate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TEntrydate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TExitdate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TExitdate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TCardCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TCardCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TAddOnDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TAddOnDetail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TPaymentStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TPaymentStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TAgreement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TAgreement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRoom.RId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
