<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                            <hr />
                            <p><b>Username:</b> @Model.UUsername</p>
                            <p><b>Phone Number:</b> @Model.UPhone</p>
                            <p><b>Password:</b> @Model.UPass</p>
                            <p><b>Email Address:</b> @Model.UEmail</p>
                            <p><b>User Role:</b> @Model.URole.RlDesc</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
